@*

*@
@{
}
@model IEnumerable<BibliotecaFinalParadigmas.Clases.Carro>

<h2>Registrar carro</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["Error"]
    </div>
}


<form asp-action="Crear" method="post">
    <div class="form-group">
        <label for="placa">Placa</label>
        <input name="placa" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="marca">Marca</label>
        <input name="marca" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="modelo">Modelo</label>
        <input name="modelo" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="agno">Año</label>
        <input name="agno" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}