@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al mejor Taller de Titipá</h1>
    <p>¡Siempre a su servicio Titipá!</p>
    <img src="~/images/Banner taller.webp" class="img-fluid rounded shadow" />
</div>
<div class="mt-5 d-flex justify-content-center gap-3">
    <a asp-controller="Carro" asp-action="Index" class="btn btn-outline-primary btn-lg">Ver carros</a>
    <a asp-controller="Mantenimiento" asp-action="Index" class="btn btn-outline-secondary btn-lg">Ver mantenimientos</a>
    <a asp-controller="Cliente" asp-action="Index" class="btn btn-outline-danger btn-lg">Ver clientes</a>
</div>